<head>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh ;
            width: 300px;
            background-color: goldenrod;
        }

        .content {
            margin-left: 300px;
        }

        .modal-body {
            background-color: aliceblue;
            margin: auto;
            height: 30%;
            width: 30%;
        }

        .modal {
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 10;
        }
        
    </style>
</head>
<body>
    <div class="modal">
        <div class="modal-body">
            <h1>I am a Modal</h1>
        </div>
    </div>
    <div class="sidebar">
        I am a Sidebar
    </div>
    <div class="content">
        I am a Content
    </div>
</body>